/* BODY ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

html
{
font-size: 1.6vw;
-webkit-text-size-adjust: 100%;
}

body
{
color: #666;
font-family: 'G8321';
margin: 0 20% 0 20%;
width: 60%;
overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

body::-webkit-scrollbar
{
display:none;
}

a:link,
a:visited
{
color: #999;
font-weight: 800;
text-decoration: none;
}

a:hover
{
opacity: 0.4;
}

a:active
{
opacity: 0.0;
}

/* LOGO ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

#logo
{
background-color: #666;
color: #FFF;
font-weight: 900;
line-height: 0;
text-align: center;
}

#logo-G
{
font-size: 16.0rem;
padding-top: 6.0rem;
}

#logo-8321
{
font-size: 4.6rem;
margin-top: 9.4rem;
padding-bottom: 3.6rem;
}

#logo-sub1,
#logo-sub2
{
line-height: 0;
text-align: center;
}

#logo-sub1
{
font-size: 3.2rem;
font-weight: 300;
margin-top: 6.0rem;
}

#logo-sub2
{
font-size: 2.4rem;
font-weight: 700;
margin-top: 3.0rem;
}

/* CONTENTS ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

div.down
{
color: #CCC;
font-size: 2.6rem;
font-weight: 700;
margin: 6rem 0 7rem 0;
text-align: center;
}

div.contents
{
font-weight: 500;
text-align: center;
}

/* H :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

h1
{
line-height: 0;
font-size: 1.6rem;
font-weight: 900;
text-align: center;
}

/* WEIGHTS SAMPLE ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

div.weights_sample
{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
line-height: 0;
margin-top: -0.6rem;
}

div.weights_sample + div.weights_sample
{
margin-top: -1.6rem;
}

p.weight_Thin,
p.weight_ExtraLight,
p.weight_Light,
p.weight_Regular,
p.weight_Medium,
p.weight_SemiBold,
p.weight_Bold,
p.weight_ExtraBold,
p.weight_Black
{
font-size: 4.6rem;
}

p.weight_Thin
{
font-weight: 100;
}

p.weight_ExtraLight
{
font-weight: 200;
}

p.weight_Light
{
font-weight: 300;
}

p.weight_Regular
{
font-weight: 400;
}

p.weight_Medium
{
font-weight: 500;
}

p.weight_SemiBold
{
font-weight: 600;
}

p.weight_Bold
{
font-weight: 700;
}

p.weight_ExtraBold
{
font-weight: 800;
}

p.weight_Black
{
font-weight: 900;
}

p.weight_name
{
font-size: 0.8rem;
font-weight: 500;
margin-top: -1.2rem;
}

/* VARIABLE ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

div.variable
{
animation: weight 2s infinite alternate;
font-family: 'G8321GX';
font-size: 8rem;
font-variation-settings: 'wght' 900;
letter-spacing: -0.2rem;
margin: 1rem 0 1rem 0;
}

@keyframes weight
{
0%
{
color: #999;
font-variation-settings: 'wght' 900;
}
100%
{
color: #666;
font-variation-settings: 'wght' 80;
}
}

/* GLYPHS ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

div.glyphs
{
font-size: 3.6rem;
font-weight: 700;
line-height: 4.6rem;
margin: 3rem 0 2.8rem 0;
}

/* DOWNLOAD ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

div.download
{
font-size: 3.6rem;
line-height: 0rem;
margin: 5.6rem 0 5.8rem 0;
}

/* COPY ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

#copy
{
line-height: 0;
font-size: 0.7rem;
font-weight: 600;
margin-bottom: 2.4rem;
text-align: center;
}

/* RESPONSIVE 479 ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

@media screen and (max-width: 479px)
{

html
{
font-size: 3.6vw;
}

body
{
margin: 0 0 0 0;
width: 100%;
}

div.contents
{
margin: 0 5% 0 5%;
width: 90%;
}

div.glyphs
{
font-size: 2rem;
line-height: 2.8rem;
margin: 3.2rem 0 2.4rem 0;
}

div.download
{
font-size: 2.4rem;
line-height: 0rem;
margin: 4.6rem 0 4.2rem 0;
}

}
