@font-face
{
font-family: 'G8321';
font-weight: 100;
src: url('G8321-Thin.eot?') format('eot'),
     url('G8321-Thin.woff2') format('woff2'),
     url('G8321-Thin.woff') format('woff');
}

@font-face
{
font-family: 'G8321';
font-weight: 200;
src: url('G8321-ExtraLight.eot?') format('eot'),
     url('G8321-ExtraLight.woff2') format('woff2'),
     url('G8321-ExtraLight.woff') format('woff');
}

@font-face
{
font-family: 'G8321';
font-weight: 300;
src: url('G8321-Light.eot?') format('eot'),
     url('G8321-Light.woff2') format('woff2'),
     url('G8321-Light.woff') format('woff');
}

@font-face
{
font-family: 'G8321';
font-weight: 400;
src: url('G8321-Regular.eot?') format('eot'),
     url('G8321-Regular.woff2') format('woff2'),
     url('G8321-Regular.woff') format('woff');
}

@font-face
{
font-family: 'G8321';
font-weight: 500;
src: url('G8321-Medium.eot?') format('eot'),
     url('G8321-Medium.woff2') format('woff2'),
     url('G8321-Medium.woff') format('woff');
}

@font-face
{
font-family: 'G8321';
font-weight: 600;
src: url('G8321-SemiBold.eot?') format('eot'),
     url('G8321-SemiBold.woff2') format('woff2'),
     url('G8321-SemiBold.woff') format('woff');
}

@font-face
{
font-family: 'G8321';
font-weight: 700;
src: url('G8321-Bold.eot?') format('eot'),
     url('G8321-Bold.woff2') format('woff2'),
     url('G8321-Bold.woff') format('woff');
}

@font-face
{
font-family: 'G8321';
font-weight: 800;
src: url('G8321-ExtraBold.eot?') format('eot'),
     url('G8321-ExtraBold.woff2') format('woff2'),
     url('G8321-ExtraBold.woff') format('woff');
}

@font-face
{
font-family: 'G8321';
font-weight: 900;
src: url('G8321-Black.eot?') format('eot'),
     url('G8321-Black.woff2') format('woff2'),
     url('G8321-Black.woff') format('woff');
}

@font-face
{
font-family: 'G8321GX';
src: url('../variable_fonts/G8321GX.ttf') format('truetype');
}
